<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block body_block %}

<style type="text/css">
	.banner{

		padding-top: 4%;
		left: 150px;

	}
</style>
<div class="banner" style="display: flex;">
	<div class="app-picture">
		<img src="{% static 'images/picture.jpg' %}">
	</div>
	<div class="container" style="padding-right: 40px;">
		<form class="row g-3" method="post">
			{% csrf_token %}
			<div class="col-md-6">
				<label for="customerid" class="form-label">Customer ID</label>
				<input type="number" class="form-control" id="customerid" name="ID">
			</div>
			<div class="col-md-6">
				<label for="gender" class="form-label">Gender</label>
				<select id="gender" class="form-select" name="gender">
					<option value="Gender_1" selected>Male</option>
					<option value="Gender_0">Female</option>
				</select>
			</div>
			<div class="col-md-6">
				<label for="age" class="form-label">Age</label>
				<input type="number" class="form-control" id="age" name="Age">
			</div>
			<div class="col-md-4">
				<label for="married" class="form-label">Married</label>
				<select id="married" class="form-select" name="married">
					<option value="Ever_Married_1">Yes</option>
					<option value="Ever_Married_0">No</option>
				</select>
			</div>
			<div class="col-md-2">
				<label for="graduated" class="form-label">Graduated</label>
				<select id="graduated" class="form-select" name="graduated">
					<option value="Graduated_1">Yes</option>
					<option value="Graduated_0">No</option>
				</select>
			</div>
			<div class="col-6">
				<label for="profession" class="form-label">Profession</label>
				<select id="profession" class="form-select" name="profession">
					<option selected value="Profession_5">Healthcare</option>
					<option value="Profession_2">Engineer</option>
					<option value="Profession_7">Lawyer</option>
					<option value="Profession_3">Entertainment</option>
					<option value="Profession_0">Artist</option>
					<option value="Profession_4">Executive</option>
					<option value="Profession_1">Doctor</option>
					<option value="Profession_6">Homemaker</option>
					<option value="Profession_8">Marketing</option>
				</select>
			</div>
           
         <div class="col-6">
				    <label for="profession" class="form-label">Category</label>
				     <select id="profession" class="form-select" name="category">
				      <option selected value="var_1">1</option>
				      <option value="var_2">2</option>
				      <option value="var_3">3</option>
				      <option value="var_4">4</option>
				      <option value="var_5">5</option>
				      <option value="var_6">6</option>
				      <option value="var_7">7</option>
				      <option value="var_8">8</option>
				    


				    </select>
				  </div>
				  <div class="col-md-4">
				    <label for="inputCity" class="form-label">Work Experience</label>
				    <input type="number" class="form-control" id="inputCity">
				  </div>
				  <div class="col-md-4">
				    <label for="spending" class="form-label">Spending</label>
				    <select id="spending" class="form-select" name="spending">
				      <option selected value="low">Low</option>
				      <option value="medium">Medium</option>
				      <option value="high">High</option>
				    </select>
				  </div>
				  <div class="col-md-4">
				    <label for="familysize" class="form-label">Family Size</label>
				    <input type="number" class="form-control" id="familysize" name="familysize">
				  </div>
				  <div class="col-12">
				    <div class="form-check">
				      <input class="form-check-input" type="checkbox" id="gridCheck">
				      <label class="form-check-label" for="gridCheck">
				        Check me out
				      </label>
				    </div>
				  </div>
				  <div class="col-12">
				    <button type="submit" class="btn btn-warning">Submit Info</button>
				  </div>
			</form>
         </div>
         
</div>


{% endblock%}
